.wrapper1 {
	margin: 0 0;
	width : 1034px;
}

.header .header-wrapper1 {
	width            : 100%;
	height           : 100px;
	background-image : url(./img/header-wrapper-bg.png);
	background-repeat: repeat-x;
}

.header .header-wrapper1 .logo1 {
	width      : 250px;
	height     : 100px;
	padding-top: 10px;
	display    : inline-block;
}

.header .header-wrapper1 .logo1 img {
	cursor: pointer;
}

.header .header-wrapper1 .link-info1 {
	display       : inline-block;
	height        : 100%;
	vertical-align: middle;
}

.header .header-wrapper1 .link-info1 span {
	padding            : 0px 10px;
	display            : block;
	color              : white;
	font-size          : 12px;
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select   : none;
	/* Firefox all */
	-ms-user-select    : none;
	/* IE 10+ */
	user-select        : none;
	/* Likely future */
}

.header .header-wrapper1 .link-info1 .website-name1 {
	font-size: 24px;
}

.header .header-wrapper1 .link-app {
	float  : right;
	display: inline-block;
}

.header .header-wrapper1 .link-app span {
	margin-top   : 15px;
	margin-bottom: 0px;
	display      : block;
	color        : white;
	cursor       : pointer;
	text-align   : center;
	line-height  : 25px;
}

.header .header-wrapper1 .link-app .send-message {
	width                : 175px;
	height               : 24px;
	background-color     : white;
	color                : black;
	border-radius        : 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius    : 2px;
}

.header .header-wrapper1 .link-app .down-app {
	height               : 26px;
	background-color     : #9D1919;
	width                : 250px;
	-webkit-border-radius: 4px;
	-ms-border-radius    : 4px;
	font-size            : 14px;
}

.header .header-wrapper1 .link-app .down-app:hover {
	background-color: #333333;
}

.container .wrapper1 .banner {
	width           : 100%;
	height          : 100px;
	text-align      : center;
	padding-top     : 5px;
	background-color: white;
}

.container .wrapper1 .bodycontent {
	padding: 0 10px;
}

.container .wrapper1 .main-content {
	margin-top: 10px;
	width     : 100%;
}

.container .wrapper1 .main-content .col-left {
	width  : 265px;
	display: inline-block;
	height : auto;
}

.container .wrapper1 .main-content .col-center {
	width  : 420px;
	display: inline-block;
	height : auto;
}

.container .wrapper1 .main-content .col-right {
	width  : 320px;
	display: inline-block;
}

.footer1 {
	/* min-height: 180px;
	max-height: 200px; */
	height           : 220px;
	width            : 100%;
	background-image : url(./img/header-wrapper-bg.png);
	background-size  : 100% 220px;
	background-repeat: repeat-x;
}

.bottom_border {
	padding-bottom: 0;
	height        : 100%;
}

.text-center {
	height: 0;
}

.focus-center-top .thumbnail .img-title {
	height: 300px;
}